
button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: #333333;
  font-size: 20px;
  text-align: center;
  
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Screen{
  background-color: rgb(84, 83, 83);
  padding: 17px 10px 17px 10px;
  height: 17px;
  padding-bottom: 17px;
  margin-bottom: 8px;
  color: rgb(0, 0, 0);
  text-align: end;
  font-size: 30px;
  border-radius: 25px;
}
.div02{
  margin: 50px 50px 50px 50px;
  background-color: black;
  padding: 15px;
  border-radius: 25px;
  position: ;
}

.top1 button{
  background-color: #FF9501;
}
.buttonGun{
  background-color: #FF9501;
}
.buttonMunus{
  background-color: #FF9501;
}
.buttonPlus{
  background-color: #FF9501;
}
.buttonEqual{
  width: 100px;
  border-radius: 25px;
}
.top2{
  padding-top: 5px;
}
.top3{
  padding-top: 5px;
}
.top4{
  padding-top: 5px;
}
.top5{
  padding-top: 5px;
}
.div02{
  color: white;
}
